<?xml version="1.0"?>
<phpunit
	bootstrap="bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertWarningsToExceptions="true"
	convertNoticesToExceptions="true"
	convertDeprecationsToExceptions="true"
	>
	<testsuites>
		<testsuite name="integration">
			<directory suffix="Test.php">.</directory>
			<exclude>./vendor</exclude>
		</testsuite>
	</testsuites>
</phpunit>
